* {
    margin: 0px;
    text-decoration: none;
    font-family: Roboto -apple-system BlinkMacSystemFont Segoe UI Helvetica Neue Arial sans-serif;
}

body {
    background-color: #F5EFE6;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: #1A4D2E;
    width: 100%;
    height: 100px;
    align-items: center;
    z-index: 1000;
}

header h1 {
    width: 38%;
    margin-left: 80px;
}

header h1 a {
    color: #F5EFE6;
}

nav[aria-label="primary-navigation"] {
    width: 50%;
}

nav[aria-label="primary-navigation"] ul {
    list-style-type: none;
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav[aria-label="primary-navigation"] ul li a {
    color: #E8DFCA;
}

nav[aria-label="primary-navigation"] ul li a:hover {
    color: #F2E205;
}

main {
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
}

main .welcome h2 {
    margin-top: 50px;
    text-align: center;
    color: #4F6F52;
    font-size: 2rem;
    font-weight: bold;
}

main .welcome p {
    margin: 20px 0px 50px 0px;
    text-align: center;
    color: #4F6F52;
    font-size: 1.2rem;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

main input {
    width: 800px;
    height: 35px;
    background-color: #E8DFCA;
    border: solid #4f6f5273 2px;
    border-radius: 10px;
    margin-right: 10px;
}

main form input[placeholder] {
    color: #1A4D2E;
}

main form button {
    background-color: #1A4D2E;
    height: 35px;
    width: 100px;
    border: 0px;
    border-radius: 10px;
    color: #F5EFE6;
}

/*Set outline: none; if not needed I noticed default is blue*/
#search-input:focus {
    outline: 1px solid #4F6F52;
}

.carousel-container {
    width: 100%;
    height: 350px;
    background-color: #E8DFCA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .slideshow {
    background-color: #F5EFE6;
    height: 300px;
    width: calc(100% - 50px);
    box-shadow: 10px 10px 30px #1A4D2E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.slideshow .image {
    border: solid #1a4d2e7e 2px;
}

.slideshow .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#featured_items {
    margin-top: 50px;
}

#featured_items h3 {
    color: #4F6F52;
    font-size: 22px;
    font-weight: lighter;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row .item {
    border: solid #E8DFCA;
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 50px;
}

.row .item figure img {
    vertical-align: bottom;
    object-fit: cover;
}

.item figcaption {
    color: #1A4D2E;
    margin: 20px 0px;
}

.item figcaption h3,
figcaption p {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.item button {
    display: block;
    margin: 0% auto;
    background-color: #1A4D2E;
    border: 0;
    border-radius: 10px;
    width: 30%;
    height: 30px;
    color: #F5EFE6;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4F6F52;
    color: #F2E205;
}

/* Categories*/

#categories {
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
    border: solid #E8DFCA 50px;
}

#categories h3 {
    color: #F5EFE6;
    font-size: 20px;
    padding: 10px;
    background: #4F6F52;
    width: 200px;
    text-align: center;
    border: solid #1A4D2E 1px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 10px 0px 10px #4f6f52a6;
    margin-bottom: 30px;
}

#categories .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% auto;
    border: solid #1A4D2E 1px;
    box-shadow: -10px -10px 10px #4f6f52a6;
    min-width: 250px;
}

#categories .category #cat_id1 {
    display: flex;
    flex-basis: auto;
    flex: 1;
    min-width: 250px;
    flex-direction: column;
    margin: 10px;
    border: solid #1A4D2E 1px;
    box-shadow: 10px 10px 10px #4f6f52a6;
}

#cat_id1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#categories .category p {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #1A4D2E;
}

#categories .category button {
    display: block;
    margin: 0% auto;
    background-color: #1A4D2E;
    border: 0;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    color: #F5EFE6;
    margin-bottom: 20px;
}

#categories .category button:hover {
    background-color: #4F6F52;
    color: #F2E205;
}

#categories .category #cat_id2 {
    display: flex;
    flex-basis: auto;
    flex: 1;
    min-width: 250px;
    flex-direction: column;
    margin: 10px;
    border: solid #1A4D2E 1px;
    box-shadow: 10px 10px 10px #4f6f52a6;
}

#cat_id2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#categories .category #cat_id3 {
    display: flex;
    flex-basis: auto;
    flex: 1;
    min-width: 250px;
    flex-direction: column;
    margin: 10px;
    border: solid #1A4D2E 1px;
    box-shadow: 10px 10px 10px #4f6f52a6;
}

#cat_id3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #1A4D2E;
    position: absolute;
    margin-top: 100px;
    width: 100%;
}

footer .set_margin {
    margin: 20px 80px;
}

footer .set_margin ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer a,
::before,
::after {
    color: #E8DFCA;
}

footer p {
    color: #E8DFCA;
}

.set_margin a:hover {
    color: #F2E205;
}

footer p {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

footer .vendor-button p {
    margin: 5px 0px;
    padding: 20px;
    background-color: #4F6F52;
    border: solid #1A4D2E 2px;
    text-align: center;
    border-radius: 20px;
    width: 150px;
}

.vendor-button {
    display: flex;
    justify-content: center;
}

footer .top-button p {
    margin: 5px 0px;
    padding: 20px;
    background-color: #4F6F52;
    border: 0;
    text-align: center;
    border-radius: 20px;
    width: 80px;
}

footer .top-button {
    display: flex;
    justify-content: right;
}
